- const popularItems = [ {src:"img/pearl.jpg", name:'Девушка с жемчужной серёжкой, 1665', autor:'Ян Вермеер', size:'44 × 39 см, холст', price:'900 ₽', class:'girl' },{src:"img/napoleon.jpg", name:'Бонапарт на перевале Сен-Бернар, 1801', autor:'Жак-Луи Давид', size:'261 × 220 см, холст', price:'3 900 ₽', class:'napoleon' }, {src:"img/hunter.jpg", name:'Охотники на снегу, 1565', autor:'Питер Брейгель Старший', size:'117 × 162 см, холст', price:'2 400 ₽', class:'hunters' }, {src:"img/napoleon.jpg", name:'Бонапарт на перевале Сен-Бернар, 1801', autor:'Жак-Луи Давид', size:'261 × 220 см, холст', price:'3 900 ₽', class:'napoleon' } ]

.main__main-bottom.main-bottom._container
  .main-bottom__content
    .main-bottom__title
      h1 Популярное
      p Нестареющая классика и бестселлеры.
    .main-bottom__js-slider
      .main-bottom__slider.multiple-items(vocab = "http://schema.org/" typeof = "ItemList")
        for item in popularItems
          div(property = "itemListElement" typeof = "Product")
            img(class=`main-bottom__${item.class}` src=item.src alt=item.name property = "image")
            .multiple-items__description
             .multiple-items__picture
               p(property="name")= item.name
               span(property="author")= item.autor
             .multiple-items__price(property="offer" typeof="Offer")
               p= item.size
               span(property="schema:price")= item.price
    
    include form.pug  